<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style7.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="boxes">
            <div class="box0">
                <a href="/home">Back</a>
            </div>
            <div class="box1">
                <div class="heading">
                    <h1>FOLLOWERS</h1>
                </div>
                <div class="users">
                    <% if(followersUsers.length>0){ %>
                        <% followersUsers.forEach((user)=>{ %>
                            <div class="user">
                                <div class="user-details">
                                    <div class="img">
                                        <img src="/images/uploads/<%=user.profilepic%>" alt="">
                                    </div>
                                    <div class="txt">
                                        <a href="/friends/visitprofile/<%=user._id%>">@<%=user.username%></a>
                                        <p>
                                            <%=user.name%>
                                        </p>

                                    </div>
                                </div>
                                <div class="options">
                                    <div class="option">
                                        <a href="/friends/followback/<%=user.id%>">Follow Back</a>
                                    </div>
                                    <div class="option">
                                        <a href="/friends/remove/<%=user.id%>">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <h2 style="text-align: center;">No one is following You</h2>
                                    <% } %>
                </div>
            </div>
            <div class="box2">
                <div class="heading">
                    <h1>FOLLOWING</h1>
                </div>
                <div class="users">
                    <% if(followingUsers.length>0){ %>
                        <% followingUsers.forEach((user)=>{ %>
                            <div class="user">
                                <div class="user-details">
                                    <div class="img">
                                        <img src="/images/uploads/<%=user.profilepic%>" alt="">
                                    </div>
                                    <div class="txt">
                                        <a href="/friends/visitprofile/<%=user._id%>">@<%=user.username%></a>
                                        <p>
                                            <%=user.name%>
                                        </p>

                                    </div>
                                </div>
                                <div class="options">
                                    <div class="option">
                                        <a href="/friends/Unfollow/<%=user.id%>">Unfollow</a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <h2 style="text-align: center;">You are not following Anyone</h2>
                                    <% } %>
                </div>
            </div>
            <div class="box3">
                <div class="heading">
                    <h1>SUGGESTIONS</h1>
                </div>
                <div class="users">
                    <% otherUsers.forEach((user)=>{ %>
                        <div class="user">
                            <div class="user-details">
                                <div class="img">
                                    <img src="/images/uploads/<%=user.profilepic%>" alt="">
                                </div>
                                <div class="txt">
                                    <a href="/friends/visitprofile/<%=user._id%>">@<%=user.username%></a>
                                    <p>
                                        <%=user.name%>
                                    </p>

                                </div>
                            </div>
                            <div class="options">
                                <div class="option">
                                    <a href="/friends/follow/<%=user.id%>">Follow</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/javascripts/script.js"></script>
</html>