<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <% if (successMessage && successMessage.length> 0) { %>
        <div id="popup"
            style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);">
            <div id="success-message" class="message success"
                style="padding:20px; border-radius:8px; width:300px; margin:50px auto; text-align:center;">
                <%= successMessage %>
            </div>
        </div>
        <% } %>
            <div class="container">
                <div class="boxes">
                    <div class="box1">
                        <div class="profile-pic">
                            <img src="/images/uploads/<%=user.profilepic%>" alt="">
                        </div>
                        <div class="txt">
                            <p>
                                <%=user.name%>
                            </p>
                            <p>@<%=user.username%>
                            </p>
                        </div>
                        <div class="options">
                            <a href="/home/editProfile/<%=user._id%>">Edit Profile</a>
                            <a href="/home/viewProfile/<%=user._id%>">View Profile</a>
                            <a href="/home/post">Create Post</a>
                            <a href="/home/friends/<%=user._id%>">Connections</a>
                            <a href="/home/changePassword/<%=user._id%>">Change Password</a>
                            <a id="logout" href="/logout">Logout</a>
                        </div>
                        <%if(user.address){ %>
                            <div class="location">
                                <p>
                                    <%=user.address%>
                                </p>
                            </div>
                            <% } %>
                    </div>
                    <div class="box2">
                        <div class="nav">
                            <h1>Social Hop</h1>
                            <h2>Stay Connected, Stay Inspired</h2>
                        </div>
                        <div class="postcontainer">
                            <div class="posts">
                                <% if(allposts.length> 0){ %>
                                    <% allposts.sort((a, b)=> new Date(b.date) - new
                                        Date(a.date)).forEach(function(post){ %>
                                        <div class="post" id="post-<%= post.id %>">
                                            <div class="about-post">
                                                <div class="post-profile">
                                                    <img src="/images/uploads/<%= post.user.profilepic%>" alt="">
                                                </div>
                                                <div class="post-info">
                                                    <div class="info">
                                                        <a href="/friends/visitprofile/<%=post.user._id%>"
                                                            style="color: blue;">@<%= post.user.username %></a>
                                                        <% if(post.location){ %>
                                                            <p> is at <%= post.location %>
                                                            </p>
                                                            <% } %>
                                                    </div>
                                                    <div class="date">
                                                        <p>
                                                            <%= new Date(post.date).toLocaleDateString('en-US', {
                                                                year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>
                                                <%= post.content %>
                                            </h3>
                                            <% if(post.pic){ %>
                                                <div class="postimg">
                                                    <h3>
                                                        <%= post.caption %>
                                                    </h3>
                                                    <img src="/images/uploads/<%= post.pic %>" alt="">
                                                </div>
                                                <% } %>
                                                    <div class="like">
                                                        <a href="/posts/like/<%= post.id %>">
                                                            <% if (!post.likes.some(like => like._id.toString() === user._id.toString())) { %>
                                                                <i class="fa-regular fa-heart"></i>
                                                            <% } else { %>
                                                                <i style="color: red;" class="fa-solid fa-heart"></i>
                                                            <% } %>
                                                        </a>
                                                        
                                                        </a>
                                                        <% if(post.likes.length> 1){ %>
                                                            <a href="#" class="like-link" data-post-id="<%= post._id %>"
                                                                style="margin-left: 1rem;">
                                                                <%= post.likes.length %> Likes
                                                            </a>
                                                            <% } else if (post.likes.length===1) { %>
                                                                <a href="#" class="like-link"
                                                                    data-post-id="<%= post._id %>"
                                                                    style="margin-left: 1rem;">
                                                                    <%= post.likes.length %> Like
                                                                </a>
                                                                <% } %>
                                                                    <div id="likesPopup-<%= post._id %>"
                                                                        class="likes-popup">
                                                                        <div class="popup-content">
                                                                            <span class="close">&times;</span>
                                                                            <h2>Likes</h2>
                                                                            <ul>
                                                                                <% post.likes.forEach(user=> { %>
                                                                                    <div class="like-info">
                                                                                        <div class="img">
                                                                                            <img src="images/uploads/<%=user.profilepic%>"
                                                                                                alt="">
                                                                                        </div>
                                                                                        <a
                                                                                            href="/friends/visitprofile/<%=user._id%>">
                                                                                            <%= user.username %>
                                                                                        </a>
                                                                                    </div>
                                                                                    <% }) %>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                    </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <h2 style="margin: 2rem;">No Posts Yet!</h2>
                                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="box3">
                        <div class="codealpha">
                            <img src="/images/uploads/codealpha.jpeg" alt="">
                        </div>
                        <div class="social-logo">
                            <img src="/images/uploads/logo.png" alt="">
                        </div>
                        <h2>Together we will Shine!</h2>
                    </div>
                </div>
            </div>
</body>
<script src="/javascripts/script.js"></script>

=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <% if (successMessage && successMessage.length> 0) { %>
        <div id="popup"
            style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);">
            <div id="success-message" class="message success"
                style="padding:20px; border-radius:8px; width:300px; margin:50px auto; text-align:center;">
                <%= successMessage %>
            </div>
        </div>
        <% } %>
            <div class="container">
                <div class="boxes">
                    <div class="box1">
                        <div class="profile-pic">
                            <img src="/images/uploads/<%=user.profilepic%>" alt="">
                        </div>
                        <div class="txt">
                            <p>
                                <%=user.name%>
                            </p>
                            <p>@<%=user.username%>
                            </p>
                        </div>
                        <div class="options">
                            <a href="/home/editProfile/<%=user._id%>">Edit Profile</a>
                            <a href="/home/viewProfile/<%=user._id%>">View Profile</a>
                            <a href="/home/post">Create Post</a>
                            <a href="/home/friends/<%=user._id%>">Connections</a>
                            <a href="/home/changePassword/<%=user._id%>">Change Password</a>
                            <a id="logout" href="/logout">Logout</a>
                        </div>
                        <%if(user.address){ %>
                            <div class="location">
                                <p>
                                    <%=user.address%>
                                </p>
                            </div>
                            <% } %>
                    </div>
                    <div class="box2">
                        <div class="nav">
                            <h1>Social Hop</h1>
                            <h2>Stay Connected, Stay Inspired</h2>
                        </div>
                        <div class="postcontainer">
                            <div class="posts">
                                <% if(allposts.length> 0){ %>
                                    <% allposts.sort((a, b)=> new Date(b.date) - new
                                        Date(a.date)).forEach(function(post){ %>
                                        <div class="post" id="post-<%= post.id %>">
                                            <div class="about-post">
                                                <div class="post-profile">
                                                    <img src="/images/uploads/<%= post.user.profilepic%>" alt="">
                                                </div>
                                                <div class="post-info">
                                                    <div class="info">
                                                        <a href="/friends/visitprofile/<%=post.user._id%>"
                                                            style="color: blue;">@<%= post.user.username %></a>
                                                        <% if(post.location){ %>
                                                            <p> is at <%= post.location %>
                                                            </p>
                                                            <% } %>
                                                    </div>
                                                    <div class="date">
                                                        <p>
                                                            <%= new Date(post.date).toLocaleDateString('en-US', {
                                                                year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3>
                                                <%= post.content %>
                                            </h3>
                                            <% if(post.pic){ %>
                                                <div class="postimg">
                                                    <h3>
                                                        <%= post.caption %>
                                                    </h3>
                                                    <img src="/images/uploads/<%= post.pic %>" alt="">
                                                </div>
                                                <% } %>
                                                    <div class="like">
                                                        <a href="/posts/like/<%= post.id %>">
                                                            <% if (!post.likes.some(like => like._id.toString() === user._id.toString())) { %>
                                                                <i class="fa-regular fa-heart"></i>
                                                            <% } else { %>
                                                                <i style="color: red;" class="fa-solid fa-heart"></i>
                                                            <% } %>
                                                        </a>
                                                        
                                                        </a>
                                                        <% if(post.likes.length> 1){ %>
                                                            <a href="#" class="like-link" data-post-id="<%= post._id %>"
                                                                style="margin-left: 1rem;">
                                                                <%= post.likes.length %> Likes
                                                            </a>
                                                            <% } else if (post.likes.length===1) { %>
                                                                <a href="#" class="like-link"
                                                                    data-post-id="<%= post._id %>"
                                                                    style="margin-left: 1rem;">
                                                                    <%= post.likes.length %> Like
                                                                </a>
                                                                <% } %>
                                                                    <div id="likesPopup-<%= post._id %>"
                                                                        class="likes-popup">
                                                                        <div class="popup-content">
                                                                            <span class="close">&times;</span>
                                                                            <h2>Likes</h2>
                                                                            <ul>
                                                                                <% post.likes.forEach(user=> { %>
                                                                                    <div class="like-info">
                                                                                        <div class="img">
                                                                                            <img src="images/uploads/<%=user.profilepic%>"
                                                                                                alt="">
                                                                                        </div>
                                                                                        <a
                                                                                            href="/friends/visitprofile/<%=user._id%>">
                                                                                            <%= user.username %>
                                                                                        </a>
                                                                                    </div>
                                                                                    <% }) %>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                    </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <h2 style="margin: 2rem;">No Posts Yet!</h2>
                                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="box3">
                        <div class="codealpha">
                            <img src="/images/uploads/codealpha.jpeg" alt="">
                        </div>
                        <div class="social-logo">
                            <img src="/images/uploads/logo.png" alt="">
                        </div>
                        <h2>Together we will Shine!</h2>
                    </div>
                </div>
            </div>
</body>
<script src="/javascripts/script.js"></script>

>>>>>>> 85bcc1d (changes for deployment)
</html>